.page {
  display: flex;
  min-height: 100svh;
  padding: 2em;
  gap: 2em;
  font-family: var(--font-geist-sans);
}

.playerArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-radius: 4px;
  border-top: 2px solid var(--prime-dark);
  border-left: 2px solid var(--prime-dark);
  -webkit-box-shadow: 2px 2px 0px 2px var(--prime-dark);
  -moz-box-shadow: 2px 2px 0px 2px var(--prime-dark);
  box-shadow: 2px 2px 0px 2px var(--prime-dark);
  padding: 1em;
}

.playerInfoArea {
  display: flex;
  gap: 1em;
}

.playerIconArea {
  height: 120px;
  width: 100px;
  border-radius: 4px;
  border: 2px solid var(--prime-dark);
}

.playerDataArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.playerNameText {
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  font-style: italic;
  color: var(--prime-light);
  background-color: var(--prime-dark);
  border-radius: 4px;
}

.mainArea {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.opponentArea {
  display: flex;
  gap: 1em;
}

.centerArea {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
  gap: 1em;
}

.playerBtnArea {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex: 1;
}

.playChipsArea {
  display: flex;
  gap: 1em;
}