.page {
  display: flex;
  min-height: 100svh;
  padding: 2em;
  gap: 2em;
  font-family: var(--font-geist-sans);
}

.playerArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border: 2px solid wheat;
  padding: 1em;
}

.playerInfoArea {
  display: flex;
  gap: 1em;
}

.playerIconArea {
  height: 120px;
  width: 100px;
  border: 2px solid gold;
}

.playerDataArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.playerNameText {
  font-size: xx-large;
  font-weight: bold;
  padding: 0 0.5em;
  background: darkslateblue;
}

.mainArea {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.opponentArea {
  display: flex;
  gap: 1em;
}

.centerArea {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
  gap: 1em;
}

.playerBtnArea {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex: 1;
}

.playChipsArea {
  display: flex;
  gap: 1em;
}