.container {
    display: flex;
    align-items: stretch;
    gap: 0.5em;

    .label {
        flex: 1;
        margin-top: 2px;
    }

    .label>div {
        -webkit-text-stroke: 0;
        color: var(--prime-light);
    }

    .label>div+div {
        color: var(--prime-dark);
    }

    .btn {
        font-size: 1.2em;

        div {
            padding: 0.25em 0.5em;
        }
    }
}