.container {
    flex: 1;
    display: flex;
    padding: 1em;
    gap: 1em;
    border-radius: 4px;
    border-top: 2px solid var(--prime-dark);
    border-left: 2px solid var(--prime-dark);
    -webkit-box-shadow: 2px 2px 0px 2px var(--prime-dark);
    -moz-box-shadow: 2px 2px 0px 2px var(--prime-dark);
    box-shadow: 2px 2px 0px 2px var(--prime-dark);
}

.iconArea {
    flex: 1;
    width: 100px;
    border-radius: 4px;
    border: 2px solid var(--prime-dark);
}

.infoArea {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.nameText {
    font-size: larger;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: var(--prime-light);
    border-radius: 4px;
    background-color: var(--prime-dark);
}

.gameDataArea {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
}

.cardArea {
    display: flex;
    gap: 1em;
}

.betsArea {
    width: 100%;
    display: flex;
    padding: 0.25em;
    align-items: stretch;
    font-weight: bold;
    background-color: var(--prime-dark);
    border-radius: 4px;
}

.label {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    letter-spacing: 0.15em;
    padding: 0 0.5em;
    color: var(--prime-dark);
    text-shadow: -1px -1px 0 var(--prime-light), 1px -1px 0 var(--prime-light), -1px 1px 0 var(--prime-light), 1px 1px 0 var(--prime-light);
}

.currency {
    display: flex;
    align-items: center;
    border-radius: 2px;
    padding: 0 0.25em;
    color: var(--prime-dark);
    font-size: x-large;
    letter-spacing: 2px;
    background-color: var(--prime-light);
}