.container {
    flex: 1;
    display: flex;
    padding: 1em;
    gap: 1em;
    border-radius: 4px;
    border-top: 2px solid var(--prime-dark);
    border-left: 2px solid var(--prime-dark);
    -webkit-box-shadow: 2px 2px 0px 2px var(--prime-dark);
    -moz-box-shadow: 2px 2px 0px 2px var(--prime-dark);
    box-shadow: 2px 2px 0px 2px var(--prime-dark);
}

.iconArea {
    flex: 1;
    width: 100px;
    border-radius: 4px;
    border: 2px solid var(--prime-dark);
}

.infoArea {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.nameText {
    font-size: larger;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: var(--prime-light);
    border-radius: 4px;
    background-color: var(--prime-dark);
}

.gameDataArea {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
}

.cardArea {
    display: flex;
    gap: 1em;
}

.betsArea {
    width: 100%;
    text-align: center;
    padding: 0.5em;
}