.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em 1em;
    gap: 1em;
    border-radius: 4px;
    border-top: 2px solid var(--prime-dark);
    border-left: 2px solid var(--prime-dark);
    -webkit-box-shadow: 2px 2px 0px 2px var(--prime-dark);
    -moz-box-shadow: 2px 2px 0px 2px var(--prime-dark);
    box-shadow: 2px 2px 0px 2px var(--prime-dark);
}