.container {
    z-index: 10;
    display: flex;
    background-color: var(--prime-light);
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 4px;
    margin-right: 3px;
    margin-bottom: 3px;
    border-top: 2px solid var(--prime-dark);
    border-left: 2px solid var(--prime-dark);
    box-shadow: 1.75px 1.75px 0px 1.75px var(--prime-dark);

    .innerContainer {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--prime-dark);
        letter-spacing: 0.1em;
        margin: 2px;
        padding: 0.5em 2em;
        border-radius: 2px;
        background-color: var(--prime-light);
    }

    .innerContainer:hover {
        color: var(--prime-light);
        -webkit-text-stroke: 1px var(--prime-dark);
    }

    .innerContainer:hover > svg {
        fill: var(--prime-light);
        stroke: var(--prime-dark);
    }
}

.container:active .innerContainer {
    color: var(--prime-light);
    -webkit-text-stroke-color: var(--prime-light);
    background-color: var(--prime-dark);

    div > svg {
        fill: var(--prime-light);
        stroke: var(--prime-light);
    }
}

.container:disabled {
    -webkit-box-shadow: 1px 1px 0px 1px var(--prime-dark);
    -moz-box-shadow: 1px 1px 0px 1px var(--prime-dark);
    box-shadow: 1px 1px 0px 1px var(--prime-dark);

    .innerContainer {
        cursor: not-allowed;
        color: var(--prime-light);
        -webkit-text-stroke: 1px var(--prime-dark);
        background-color: var(--prime-light);
    }
}