.container {
    display: flex;
    align-items: stretch;
    gap: 0.5em;
}

.container .label {
    flex: 1;
    margin-top: 2px;
}

.container .btn {
    font-size: large;
}

.container .btn div {
    padding: 0.25em 0.5em;
}