.container {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: 1em;
  border-radius: 4px;
  border-top: 2px solid var(--prime-dark);
  border-left: 2px solid var(--prime-dark);
  -webkit-box-shadow: 2px 2px 0px 2px var(--prime-dark);
  -moz-box-shadow: 2px 2px 0px 2px var(--prime-dark);
  box-shadow: 2px 2px 0px 2px var(--prime-dark);
  padding: 1em;

  .headerArea {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .headerText {
      margin-top: 1px;
      display: flex;
      align-items: center;
      font-size: x-large;
      font-weight: bold;
      border-radius: 2px;
      color: var(--prime-dark);
      letter-spacing: 0.2em;
      -webkit-text-stroke: 1px var(--prime-dark);
    }

    .goback div {
      padding: 0.25em 0.5em;
    }
  }

  .subTitleText {
    padding: 0.5em 0.5em;
    font-size: larger;
    font-weight: bold;
    color: var(--prime-light);
    background-color: var(--prime-dark);
    border-radius: 2px;
  }

  .bankArea {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em 2em;
    border-radius: 4px;
    border: 2px solid var(--prime-dark);
    font-size: 2em;
  }

  .bankArea>div>div+div {
    width: 5em;
  }

  .shopArea {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
}

@media (max-width: 600px) {
  .container {
    flex: 1;
    padding: 1em;
    margin: 1em;
    font-size: small;

    .bankArea {
      padding: 1em 0.5em;
    }
  }
}